@import url(https://fonts.googleapis.com/css?family=Varela+Round);

html{
text-align: center;
font-family: 'Varela Round', sans-serif;
color: #FFF;
width: 100%;
-webkit-font-smoothing: antialiased;
font-weight: 300;
background-color: rgba(255, 255, 255, 0.69);

}

::selection{
background-color: rgba(215, 80, 17, 0.86);
color: #FFF;
}
::-webkit-input-placeholder{
font-weight: 300;
opacity: .7;;

}
::-moz-placeholder{
font-weight: 300;
opacity: .7;;
}
:-ms-input-placeholder{
font-weight: 300;
opacity: .7;;
}
section article{
	border-radius: 2px;
	float: left;
	width: 25%;
	overflow: hidden;
	height: inherit;;;;
}

section article img{
border-radius: 3px;
margin: 4px;;

}
footer{
	bottom: 0;
	width: 100%;
	padding: 0;
	color: inherit;
	position: absolute;
}
footer ul{
margin: 0;
padding: 0;
}
footer ul li{
list-style: none;
font-size: x-large;
width: 25%;
cursor: pointer;
display: inline-block;;;
}

.scrollable{
overflow-y: auto;
}

header i.fa:hover, header i.fa:active, header i.fa:focus, button[name='menu']:hover, button[name='menu']:active, button[name='menu']:focus{
opacity: .7;
color: rgb(34, 171, 94);;

}

#main{
color: #333333;
height: calc(80% - 70px);;
}
nav ul li{
list-style: none;
text-align: left;
cursor: pointer;
height: 50px;
line-height: 50px;;;

}
nav{
position: fixed;
z-index: 10;
border-radius: 0;;;
-webkit-transition: all .25s;
-o-transition: all .25s;
transition: all .25s;
width: 90%;
height: 100%;
left: -100%;
}


nav ul li:hover{
opacity: .8;
background-color: #606060;;

}

.overlay, .mask{
position: fixed;
width: 100%;
height: 100%;
background-color: #FFF;
top: 0;
left: 0;
bottom: 0;
right: 0;
z-index: 3;


}
.mask{
	z-index: -1;
	transition: all 0s;
	position: relative;
	background-color: rgba(0, 0, 0, 0.1);;
}
.splash, header span.title{
font-weight: 200;
font-size: inherit;;

}

nav ul li:last-child:hover, nav ul li:last-child:active, nav ul li:last-child:focus{
border-radius: 0 0 5px 0;;

}
nav ul{
margin: 0;
padding: 0;
z-index: 2;
height: inherit;
background-color: rgba(47, 47, 47, 0.98);
-webkit-user-select: none;
-moz-user-select: none;
-khtml-user-select: none;;;

}


h2{
margin: 0;
text-align: center;
color: inherit;
font-weight: 300;
font-size: 16pt;
line-height: 50px;;;

}

input, button{
padding: 8px;
border: 0;
outline: 0;
margin: 4px 0;
border-radius: 3px;
color: inherit;
width: calc(100% - 16px);
font-size: inherit;;

}

button{
width: initial;
margin: 0;
cursor: pointer;
border: 0;
z-index: 999999;
-webkit-user-select: none;
-moz-user-select: none;
-khtml-user-select: none;
font-family: inherit;
border-radius: 8px;
background-color: transparent;;;;;
}

button i.fa-angle-left{
margin-right: 8px;;
}

button:hover, button:active, button:focus{
opacity: .7;;

}
.branding{
vertical-align: top;
position: relative;
z-index: 2;
display: none;
clear: both;
cursor: ne-resize;
line-height: 50px;;;

}
section#startup{
z-index: 2;
width: 100%;
overflow: hidden;;;

}
section#startup form{
position: absolute;
transition: all 0.25s ease-in-out;
width: calc( 100% - 16px);
padding: 0 8px;
height: 50%;
top: -100%;
background-color: #2EC370;
z-index: 2;
}

.frontdoor{
padding: 0 10%;
display: none;;

}

.pipe:after{
content: "or";
margin: 0 8px;
font-size: 14px;;

}
button[name='back']{
bottom: 8px;
float: left;
}
.round{
border-radius: 50%;
width: 75px;
height: 75px;;;

}
button i.fa-angle-right{
margin-left: 8px;;

}

@media (max-width: 320px){

	.pipe:after{
		margin: 0;
		display: none;;
	}
}



section#startup .onCanvas,
.onCanvas{
transition: all .25s ease-in-out;
overflow: hidden;
animation: shown 0.05s;
top: 0;
left: 0;
z-index: 10;;

}
button[name='createUser'], 
button[name='createNew'],
button[name='signIn']{
cursor: pointer;
position: relative;
border: 0;;;;

}
.onCanvas .mask{
position: fixed;

}
.warning{
	display: none;
	font-size: 12px;
	padding: 8px;
	text-align: left;;
}
.shown{
	display: block;
}
input{
color: #35CF79;;;;;;

}
.buttons-wrapper{
bottom: 8px;
position: inherit;
width: inherit;;;

}
body, html{
margin: 0;
height: 100%;
overflow: hidden;
overflow-y: auto;
color: #333;
background-color: rgb(240, 240, 240);
width: 100%;

}

@-webkit-keyframes shown {
  0%   { opacity: 0; }
  100% { opacity: 1;}
}

button:disabled{
cursor: not-allowed;
opacity: .7;;;;

}
select{
	background: transparent;
	-webkit-appearance: none;
	border: 0;
	font-size: 18px;
	color: #35CF79;
	height: inherit;
	outline: 0;
	cursor: pointer;
	width: inherit;
	padding: 0 8px;;;;
}

.selector{
	background-color: rgb(245, 245, 245);
	border-radius: 0 3px 3px 0;
	float: left;
	height: 42px;
	margin: 4px 0;
	width: 130px;
	padding: 0;;
}
input[type="email"]{
width: calc(100% - 146px);
float: left;
border-radius: 3px 0 0 3px;;

}

.selector:before{
content: "@";
color: #555;
padding-left: 5px;
display: none;

}


.selector:after{
color: rgba(85, 85, 85, 0.3);
line-height: 42px;
font-size: 18px;;
}

footer ul li button{
width: 40px;
height: 40px;
margin: 5px;
font-size: initial;
border-radius: 50%;
line-height: 15px;
padding: 5px;;;;

}
nav ul li button{
width: 100%;
text-align: left;
border-radius: 0;;;

}

section article img:first-child{
margin-top: 74px;
}
section article img:last-child{
margin-bottom: 74px;;
}

video#camera{
position: relative;
width: 100%;
height: 100%;
display: block;;;

}
footer ul li:hover button, footer ul li button.active{
opacity: 1;
background-color: rgb(255, 255, 255);
color: #000;;

}
#slider{
width: 400%;
height: 100%;
overflow: hidden;
  -moz-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
  -o-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
  -webkit-transform: translate3d(0,0,0);
}
article header{
text-align: center;
padding: 8px 0;
line-height: 34px;
height: 34px;
z-index: 9;
margin-top: 8px;;

}

.animate{
transition: al .25s ease-in-out;
-webkit-transition: all .25s ease-in-out;;

}
article header i{
float: right;
height: 15px;
padding: 10px;
width: 15px;
margin-right: 10px;;;;;

}

nav ul li button span{
margin-left: 8px;;

}

.absolutelyCenter{
margin: auto;
top: 0;
bottom: 0;
border: 0;
padding: 16px;
width: calc(100% - 32px);
position: absolute;

}
article > div{
height: calc(100% - 68px);
position: relative;
margin: 8px;;;
border-radius: 4px;
background-color: #FFF;
box-shadow: 0 1px 1px rgba(115, 115, 115, 0.5);
-webkit-box-shadow: 0 1px 1px rgba(115, 115, 115, 0.5);
-moz-box-shadow: 0 1px 1px rgba(115, 115, 115, 0.5);
}

.singleLine{
height: 20px;
}
.doubleLine{
line-height: 50px;
height: 100px;
}
.tripleLine{
height: 160px;
line-height: 50px;
}
header#me{
height: 20%;
}

#me img{
top: calc(50% - 37.5px);
position: relative;
}

ul{
list-style: none;
padding: 0;
margin: 0;;

}
a{
color: inherit;
text-decoration: none;;

}
button span{
margin-left: 8px;

}

.textLeft{
text-align: left;
}

.inlineBlock{
	display: inline-block;
}
button:active:before{
content: attr(title);
position: absolute;
margin-top: -40px;
margin-left: -15px;
width: 50px;;;;;;;;;

}