@import url(https://fonts.googleapis.com/css?family=Varela+Round);

html{
text-align: center;
font-family: 'Varela Round', sans-serif;
color: #FFF;
width: 100%;
height: 100%;
-webkit-font-smoothing: antialiased;
/*color: rgba(0, 0, 0, 0.7);*/
font-weight: 300;
font-size: 18pt;
background-color: rgba(29, 202, 105, 0.89);;

}

body{

	touch-action: pan-y;
	height: 100%;
	margin: 0;
}

::selection{
background-color: rgba(83, 191, 143, 0.9);
color: #FFF;
}
::-webkit-input-placeholder{
font-weight: 300;
opacity: .7;;

}
::-moz-placeholder{
font-weight: 300;
opacity: .7;;
}
:-ms-input-placeholder{
font-weight: 300;
opacity: .7;;
}

button[name='menu']{
z-index: 3;
float: left;
position: fixed;
left: 0;
background-color: transparent;
border: 0;
width: 40px;
height: 40px;
line-height: 40px;
outline: none;
color: #FFF;
cursor: pointer;
padding: 0;
margin: 0;
margin-left: 16px;
margin-top: 8px;
}

section article{
	border-radius: 2px;
	height: 100%;;
}
section article:not(.active){
	display: none;
}
section article img{
border-radius: 3px;
margin: 4px;;

}
section article img:last-child{
	margin-bottom: 74px;
}
header{

	width: 100%;
	background-color: rgba(83, 191, 143, 0.9);
	color: #FFF;
	text-align: center;
	padding: 8px 0;
	line-height: 40px;
	height: 40px;
	box-shadow: 0 2px 2px rgba(53, 52, 52, 0.5);
	-webkit-box-shadow: 0 2px 2px rgba(53, 52, 52, 0.5);
	-moz-box-shadow: 0 2px 2px rgba(53, 52, 52, 0.5);
	z-index: 2;
	position: relative;
}
footer{
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 50px;
	line-height: 50px;
	padding: 0;
	left: 0;
	background-color: #FFF;
}
footer ul{
margin: 0;
padding: 0;
height: 50px;
}
footer ul li{
list-style: none;
font-size: x-large;
width: 25%;
height: 57px;
line-height: 57px;
cursor: pointer;
display: inline-block;;
}
footer ul li:active{
}
header i.fa{
float: right;
height: 40px;
line-height: 40px;
width: 40px;
font-size: 20pt;
border-radius: 8px;
cursor: pointer;
margin-right: 8px;;

}

article div{

}
.scrollable{
overflow: hidden;
overflow-y: scroll;;

}

.absolutelyCenter{
top: 0;
bottom: 0;
position: absolute;
margin: auto;
overflow: hidden;
z-index: 0;
left: 0;
right: 0;
height: 250px;
line-height: 250px;
}

footer ul li:hover,
footer ul li:active,
footer ul li:focus,
footer ul li.active{
background-color: #63C59A;
color: rgb(255, 255, 255);;

}

header i.fa:hover, header i.fa:active, header i.fa:focus, button[name='menu']:hover, button[name='menu']:active, button[name='menu']:focus{
opacity: .7;;

}

#main{
	display: none;
	height: 100%;
	position: relative;;
}
nav ul li{
list-style: none;
text-align: left;
cursor: pointer;
padding-left: 32px;
height: 56px;
line-height: 56px;;;

}
nav{
background-color: #FFF;
position: fixed;
z-index: 3;
left: -100%;
border-radius: 0;;;
-webkit-transition: all 25ms;
-o-transition: all 25ms;
transition: all 25ms;
width: 90%;
height: 100%;
}


nav ul li:hover{
opacity: .8;
background-color: #EFEFEF;;

}

.overlay, .mask{
position: fixed;
width: 100%;
height: 100%;
background-color: #FFF;
top: 0;
left: 0;
bottom: 0;
right: 0;
z-index: 3;


}
.mask{
	background-color: rgba(0, 0, 0, 0.2);
	z-index: -1;
	transition: all 0s;
	position: relative;;
}
.splash, header span.title{
font-weight: 200;
font-size: 20pt;
margin-left: 58px;;

}

footer ul li:nth-child(3):hover, footer ul li:nth-child(3):active, footer ul li:nth-child(3):focus, footer ul li:nth-child(3).active, footer ul li:nth-child(4):hover, footer ul li:nth-child(4):active, footer ul li:nth-child(4):focus, footer ul li:nth-child(4).active{;

}

nav ul li:first-child:hover, nav ul li:first-child:active, nav ul li:first-child:focus{
border-radius: 0 5px 0 0;;

}
nav ul li:last-child:hover, nav ul li:last-child:active, nav ul li:last-child:focus{
border-radius: 0 0 5px 0;;

}
nav ul{
margin: 0;
padding: 0;
z-index: 2;
height: inherit;
background-color: #FFF;
-webkit-user-select: none;
-moz-user-select: none;
-khtml-user-select: none;;;

}


h2{
color: inherit;
font-weight: 300;
margin: 0;
padding: 8px;
text-align: center;
height: 50px;
line-height: 50px;
font-size: inherit;;

}
h2 .title{;

}
input, button{
padding: 12px;
border: 0;
outline: 0;
margin: 8px;
width: calc(100% - 40px);
font-size: 18pt;
border-radius: 3px;
color: inherit;;

}

button{
width: initial;
margin: 0;
cursor: pointer;
border: 0;
z-index: 999999;
-webkit-user-select: none;
-moz-user-select: none;
-khtml-user-select: none;
font-family: inherit;
border-radius: 8px;
background-color: transparent;;;;;
}

button i.fa-angle-left{
margin-right: 8px;;
}

button:hover, button:active, button:focus{
opacity: .7;;

}
.branding{
vertical-align: top;
position: relative;
z-index: 2;
display: block;
clear: both;
cursor: ne-resize;
line-height: 50px;;;

}
section#startup{
position: absolute;
z-index: 2;
height: 100%;
width: 100%;
overflow: hidden;;

}
section#startup form{
position: absolute;
transition: all 0.25s ease-in-out;
width: calc( 100% - 16px);
padding: 0 8px;
background-color: #35CF79;
top: -100%;
transform: scale(0.5);
-webkit-transform: scale(0.5);
height: 100%;
}

.frontdoor{
position: absolute;
width: 100%;
top: 0;
vertical-align: bottom;;

}

.pipe:after{
content: "or";
margin: 0 8px;
font-size: smaller;

}
button[name='back']{
bottom: 8px;
float: left;;;;/* right: 0; */;
}
.round{
width: 55px;
height: 55px;
border-radius: 50%;
display: block;
position: absolute;
left: 0;
right: 0;
margin: auto;
line-height: 56px;;

}
button i.fa-angle-right{
margin-left: 8px;;

}

@media (max-width: 320px){

	.pipe:after{
		margin: 0;
		display: none;;
	}
}



section#startup .onCanvas,
.onCanvas{
transition: all 0.25s ease-in-out;
top: 0;;
transform: scale(1);
-webkit-transform: scale(1);

}
button[name='createUser'], 
button[name='createNew'],
button[name='signIn']{
cursor: pointer;
position: relative;
border: 0;

}
.onCanvas .mask{
position: fixed;

}
input{
color: #35CF79;;

}
.buttons-wrapper{
background-color: #35CF79;;

}