
body{
	outline: 0;
	margin: 0 auto;
	min-height: 1136px;
	max-width: 1279px;
	color: #000;
	text-align: center;
	font-family: Helvetica, Arial, 'lucida grande',tahoma,verdana,arial,sans-serif;
	font-size: 1.25em;
}
	header{
		background: url(https://scontent-a-atl.xx.fbcdn.net/hphotos-ash2/t1.0-9/523309_3561393684489_1456646679_n.jpg) no-repeat fixed;
		-webkit-background-size: cover;
 	 	-moz-background-size: cover;
  		-o-background-size: cover;
		background-size: cover;
		background-size: 380px auto;
		height: 50%;
		width: 100%;
		position: fixed;
		margin: 0px;
	}

		.hero{
			position: relative;
			width: 130px;
			top: 15%;
			left: 5%;
			padding: 0px;
			margin: 0px;
			color: #f1f1f1;
			font-size: 12pt;
			opacity: .5;
			font-weight: lighter;
		}

	#container{
		top: 50%;
		width: 96%;
		padding-left: 2%;
		padding-right: 2%;
		position: absolute;
		background-color: #fff;
	}

	article{
		margin-bottom: 25%;
	}

	a:link, a:active, a:visited{
		text-decoration: none;
		color: inherit;
		cursor: pointer;
	}

	a:hover{
		text-decoration: none;
	}

	ul{
	    list-style: none;
	    margin-left: -40px;
	    text-align: center;
	}
	
	#menu{
		width: 100%;
		margin-top: 0px;
		margin-bottom: 0px;
		bottom: 0;
		position: fixed;
		padding-top: 5px;
		padding-bottom: 5px;
	}
		#menu li{
			display: inline-block;
			padding: 5px;
		}
		#menu li:nth-child(4){
			margin-right: 0px;
		}
		#menu li:hover{
			background-color: #000;
		}

.date::before{
	content: url("/images/date.png");
	padding-right: 5px;
}

.contrast{
	background-color: rgba(0, 0, 0, 0.9);
	color: #fff;
}
.faded{
	opacity: .1
}

section.info div{
	margin-bottom: 15%;
}

.test{
	background-color: red;
}

