
body{
	outline: 0;
	margin: 0 auto;
	min-height: 1136px;
	max-width: 1279px;
	color: rgba(0, 0, 0, 0.5);
	background-color: #F6E2E0;
	text-align: center;
	font-family: 'Lato', Helvetica, Arial, 'lucida grande',tahoma,verdana,arial,sans-serif;
	font-size: 1.25em;
}
	header{
		background: url(https://scontent-a-atl.xx.fbcdn.net/hphotos-ash2/t1.0-9/523309_3561393684489_1456646679_n.jpg) 50% 0 no-repeat fixed;
		-webkit-background-size: cover;
 	 	-moz-background-size: cover;
  		-o-background-size: cover;
		background-size: cover;
		width: 100%;
		height: 680px;
		position: fixed;
		margin-bottom: 0px;
		margin-top: 0px;
	}

	.hero{
		position: relative;
		top: 5%;
		left: 5%;
		padding: 0px;
		margin: 0px;
		color: #f1f1f1;
		font-weight: lighter;
	}

	#container{
		top: 40%;
		width: 96%;
		padding-left: 2%;
		padding-right: 2%;
		position: absolute;
		background-color: #F6E2E0;
		border-top-left-radius: 80px;
	}

	@media (max-width: 720px){
		header{
			background-size: 360px auto;
		}
		.hero{
			font-size: 12pt;
			width: 100px;
		}
		#container{
			top: 40%;
		}
	}
	
	article{
		margin-bottom: 30%;
	}

	a:link, a:active, a:visited{
		text-decoration: none;
		color: #000;
		cursor: pointer;
		-webkit-transition: color .25s linear;
	}

	a:hover{
		text-decoration: none;
	}

	h1, h2, h3{
		font-size: 1.75em;
		font-weight: 500;
	}

	ul{
	    list-style: none;
	    margin-left: -40px;
	    text-align: center;
	}

	.album li{
		display: inline;
	}

	.expanded{
		z-index: 99;
		display: block;
		width: 96% !important;
		position: absolute;
		z-index: 97;
		top: 25%;
		box-shadow: inset 0 0 8px rgba(0,0,0,.6);
		-moz-box-shadow: inset 0 0 8px rgba(0,0,0,.6);
		-webkit-box-shadow: inset 0 0 8px rgba(0,0,0,.6);
	}
	.album li img.min {
		max-width: 138px;
		max-height: 207px;
	}

.date{
	width: 130px;
	padding-left: 89px;
	padding-right: 89px;
}
	.small{
		width: 100px;
		padding: 0px;
	}
	.date::before{
		content: url("/images/date.png");
		padding-right: 5px;
		opacity: .5;
	}
.contrast{
	color: #fff;
}
.wrapper{
	overflow: hidden;
}
/*	.left{
		float: left;
		padding-left: 10px;
	}
	.right{
		padding-right: 10px;
		float: right;
	}
	.time{
		margin-top: 50px;
	}
	.phone{
		width: 140px;
	}*/
	.BcNo{}

	.HaNo{}

#info div{
	margin-bottom: 15%;
}

	#menu{
		width: 100%;
		margin-top: 0px;
		margin-bottom: 0px;
		bottom: 0;
		background-color: #FFE6E4;
		opacity: .9;
	}
		#menu li{
			display: inline-block;
			padding: 15px;
			padding-left: 16px;
			border-bottom: 5px solid #969494;
			opacity: .5;
		}
		#menu li:nth-child(3){
			margin-right: 0px;
		}
		#menu li:hover {
			background-color: #969494;
			color:#fff;
			-webkit-transition: color .25s linear;
		}

.top{

	padding: 15px;
	opacity: .5;
}

footer{
	bottom: 0;
	position: fixed;
}

