
body{
	outline: 0;
	margin: 0 auto;
	min-height: 1136px;
	max-width: 1279px;
	color: rgba(0, 0, 0, 0.5);
	background-color: #F6E2E0;
	text-align: center;
	font-family: 'Lato', Helvetica, Arial, 'lucida grande',tahoma,verdana,arial,sans-serif;
	font-size: 1.5em;
	font-weight: 300;
}
	header{
		background: url(https://scontent-a-atl.xx.fbcdn.net/hphotos-ash2/t1.0-9/523309_3561393684489_1456646679_n.jpg) 50% 0 no-repeat fixed;
		-webkit-background-size: cover;
 	 	-moz-background-size: cover;
  		-o-background-size: cover;
		background-size: cover;
		width: 100%;
		height: 680px;
		position: fixed;
		margin-bottom: 0px;
		margin-top: 0px;
	}

	.hero{
		position: relative;
		top: 5%;
		left: 5%;
		padding: 0px;
		margin: 0px;
		color: #f1f1f1;
		font-weight: lighter;
	}

	#container{
		top: 40%;
		width: 96%;
		padding-left: 2%;
		padding-right: 2%;
		position: absolute;
		background-color: #F6E2E0;
		border-top-left-radius: 80px;
	}

	@media (max-width: 720px){
		header{
			background-size: 360px auto;
		}
		.hero{
			font-size: 12pt;
			width: 100px;
		}
		#container{
			top: 40%;
		}
	}
	
	article{
		margin-bottom: 30%;
	}

	#us{
		height: 650px;
	}

	a:link, a:active, a:visited{
		text-decoration: none;
		color: #000;
		cursor: pointer;
		-webkit-transition: color .25s linear;
	}

	a:hover{
		text-decoration: none;
	}

	h1, h2, h3{
		font-size: 2em;
		font-weight: bold;
	}

	ul{
	    list-style: none;
	    margin-left: -40px;
	    text-align: center;
	}


.date{

}
	.small{
		width: 100px;
		padding: 0px;
	}

	.date::before{
		content: url("/images/small_date.png");
		padding-right: 5px;
		opacity: .5;
	}
	.small::before{

		content: url("/images/small_date.png");
		padding-right: 5px;
		opacity: .5;
	}

.invited{
	padding: 50px;
}

.contrast{
	color: #fff;
}
.wrapper{
	overflow: hidden;
}
	#ss{
		z-index: 99;
		position: absolute;
		right: 0;
		margin-right: 25px;
		margin-top: -30px;
		cursor: pointer;
		font-size: small;
		padding: 0;
		opacity: .5;
	}
	#ss:hover{
		opacity: 1;
		-webkit-transition: color .25s linear;
	}
    .scrolly{
        overflow: auto;
        overflow-y: hidden;
        margin: 0 auto;
        white-space: nowrap
    }
    .smiley{

    	font-size: 12em;
    	opacity: .05;
    	margin-top: 15%;
    }
    .min{
		max-height: 120px;
        display: inline;
	
    }
    .expanded{
		display: block;
		width: 96% !important;
		position: absolute;
		z-index: 97;
	}

	.BcNo{}

	.HaNo{}

#info div{
	margin-bottom: 15%;
}

#g-map{
	display: none;
}
.shown{
	display: block;
}


form.rsvp-form{

		text-align: center;
		z-index: 2;
		position: relative;
		display: inline-block;
		padding: 40px;
		padding-top: 0px;
	}
	input{

		width: 88%;
		padding: 15px;
		font: inherit;
	}

	input[type=text], input[type=email]{
		display: block;
		margin: 15px auto;
		text-align: left;
		color: #000;
		opacity: 1;
		border: 0px;
		border-bottom: 1px solid #BBB;
		margin-left: 0px;
		margin-right: 0px;
		background-color: transparent;
		outline: 0;

	}
	
	input[type=checkbox]{
		display: inline-block;
		zoom: 1.5;
		width: 15px;
	}

	button{

		padding: 10px;
		font-size: inherit;
		font-family: inherit;
		font-weight: 300;
		width: auto;
		margin: 30px auto;
		background-color: #04709B;
		border: 1px solid #e1e1e1;
		color: #fff;
		cursor: pointer;

	}
	input[type=submit]:hover{

		background-color: #035272;
	}

	label#bring-guest{
	
		cursor: pointer;
		display: block;
		padding: 15px;
	}
	
	#guest-confirm{
		width: 100px;
		display: inline;
	}
	.plus1{
		display: none;
	}

	#menu{
		bottom: 0;
		background-color: rgba(246, 226, 224, 0.9);
	}
		#menu li:nth-child(3){
			margin-right: 0px;
		}
		
		nav {

		z-index: 99;
		position: absolute;
		text-align: center;
		width: 100%;
		background-color: transparent;
			}
			
			nav ul {
				margin: 0px 0px 0px -40px;
				width: 100%;
			}
			nav ul li {

				list-style: none;
				display: inline-block;
				padding: 10px;
				width: 25%;
			}


			nav ul li a:link, nav ul li a:visited, nav ul li a:active {
				color: inherit;
				outline: 0;
				text-decoration: none;
			}

			nav ul li a:hover {
				color: #000;
				border-bottom: 1px dotted #000;
				/*border-bottom: 1px dotted #7B838A;*/
				/*text-decoration: underline;*/

			}
			a:hover{
				opacity: .8
			}


.top{

	padding: 30px;
	opacity: .5;
}

footer{
	width: 100%;
	bottom: 0;
	position: fixed;
	z-index: 99;
}

