.badge-profile {
  border-radius: 50%;
}
.badge-profile-md{
  width: 9rem;
  height: 9rem;
}
.badge-profile-anh-cao {
  background-image: url('./img/Anh-Cao-Polygons.jpg');
  background-size: contain;
}
.badge-profile-handshake {
  background-image: url('./img/handshake.jpg');
  background-size: cover;
}
.bg-light {
  background-color: #f8f9fa!important;
}
h5{
  font-size: 3rem;
}
h6{
  font-size: 1.75rem;
}
p{
  font-size: 1.5rem;
}
footer {
  color: #999;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
