.badge-profile {
  border-radius: 50%;
  background-size: contain;
}
.badge-profile-md{
  width: 9rem;
  height: 9rem;
}
.badge-profile-sm{
  width: 4rem;
  height: 4rem;
}
.badge-profile-anh-cao {
  background-image: url('./img/Anh-Cao-Polygons.jpg');
}
.badge-profile-brenny-nguyen {
  background-image: url('https://scontent.fatl1-1.fna.fbcdn.net/v/t1.0-1/p320x320/36996928_10216090097916192_6299463227789017088_n.jpg?_nc_cat=111&oh=fcd071780aa9d5b33779ef1956703708&oe=5C53EAD3');
}
.badge-profile-handshake {
  background-image: url('./img/handshake.jpg');
  background-size: cover;
}
.badge-profile-hexagon {
  background-image: url('https://media.istockphoto.com/photos/honeycomb-technology-concept-picture-id498890538?s=2048x2048');
}
.bg-3d{
  background: #4776e6;
  background: -webkit-gradient(linear,left top, right top,from(#8e54e9),to(#4776e6));
  background: -webkit-linear-gradient(left,#8e54e9,#4776e6);
  background: -o-linear-gradient(left,#8e54e9,#4776e6);
  background: linear-gradient(to right,#8e54e9,#4776e6);
  color: #f1f1f1;
}
.bg-light {
  background-color: #f8f9fa!important;
}
.bg-grad{
  color: transparent !important;
  -webkit-background-clip: text !important;
  background-clip: text !important;
}
.bg-grad-clouds{
  background: #ECE9E6;  /* fallback for old browsers */
  background-image: -webkit-linear-gradient(to left, #FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
  background-image: linear-gradient(to left, #FFFFFF, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.bg-grad-cool-blues{
  background: #2193b0;  /* fallback for old browsers */
  background-image: -webkit-linear-gradient(to right, #6dd5ed, #2193b0);  /* Chrome 10-25, Safari 5.1-6 */
  background-image: linear-gradient(to right, #6dd5ed, #2193b0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.bg-grad-skyline{
  background: #1488CC;  /* fallback for old browsers */
  background-image: -webkit-linear-gradient(to right, #2B32B2, #1488CC);  /* Chrome 10-25, Safari 5.1-6 */
  background-image: linear-gradient(to right, #2B32B2, #1488CC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.bg-grad-dimigo{
  background: #ec008c;
  background-image: -webkit-linear-gradient(to right, #fc6767, #ec008c);
  background-image: linear-gradient(to right, #fc6767, #ec008c);
}
.bg-grad-delicate{
  background: #D3CCE3;  /* fallback for old browsers */
  background-image: -webkit-linear-gradient(to left, #E9E4F0, #D3CCE3);  /* Chrome 10-25, Safari 5.1-6 */
  background-image: linear-gradient(to left, #E9E4F0, #D3CCE3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.bg-grad-mojito{
  background: #1D976C;  /* fallback for old browsers */
  background-image: -webkit-linear-gradient(to left, #89f7b2db, #1D976C);  /* Chrome 10-25, Safari 5.1-6 */
  background-image: linear-gradient(to left, #89f7b2db, #1D976C); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.bg-grad-juicy-orange{
  background: #FF8008;  /* fallback for old browsers */
  background-image: -webkit-linear-gradient(to right, #FFC837, #FF8008);  /* Chrome 10-25, Safari 5.1-6 */
  background-image: linear-gradient(to right, #FFC837, #FF8008); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.bg-grad-steel-grey{
  background: #1F1C2C;  /* fallback for old browsers */
  background-image: -webkit-linear-gradient(to right, #928DAB, #1F1C2C);  /* Chrome 10-25, Safari 5.1-6 */
  background-image: linear-gradient(to right, #928DAB, #1F1C2C); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.icon-md{
  background-size: contain;
  background-repeat: no-repeat;
  width: 6rem;
  height: 6rem;
}
h5{
  font-size: 3rem;
}
h6{
  font-size: 1.75rem;
}
p{
  font-size: 1.35rem;
}
footer {
  color: #999;
}
[tooltip]{
  /* margin:20px; */
  position:relative;
}
[tooltip]:hover::before{
    content: "";
    position: absolute;
    top: -0.35rem;
    left: 50%;
    transform: translateX(-50%);
    border-width: 4px 6px 0 6px;
    border-style: solid;
    border-color: rgba(0,0,0,0.7) transparent transparent     transparent;
    z-index: 100;
}
[tooltip]:hover::after{
    content: attr(tooltip);
    position: absolute;
    left:50%;
    top: -0.35rem;
    transform: translateX(-50%)   translateY(-100%);
    background: rgba(0,0,0,0.7);
    text-align: center;
    color: #fff;
    padding: 0.35rem;
    font-size: 0.75rem;
    min-width: 11rem;
    border-radius: 0.25rem;
    pointer-events: none;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
