
body, html{

  outline: 0;
  height: 100%;
  font-family: sans-serif, Helvetica;
  font-size: 26pt;
  color: #2A2A2A;
  -webkit-font-smoothing: antialiased;
  background-color: #EAEAEA;
  margin: 0;

}

  h2{

    font-size: 28pt;
  }

  a:link, a:visited, a:active{

    color: inherit;
    text-decoration: none;
  }

  #works div p{

    padding: 5% 0;

  }

    #works div p a{

      display: block;
      font-size: 24px;
    }

  section{

    position: static;
    display: flex;
    width: 80%;
    height: 100%;
    margin: auto;
    padding: 10%;
    text-align: center;
    -webkit-transition: opacity 50ms;
    transition: opacity 50ms;

  }

  .hero{

    opacity: 1;
    transition: opacity 50ms;

  }

  .compressed{

    transform: scale(.5, .5);
    height: 40%;
  }

  .smaller{

    font-size: small;
  }

    section#my-wife{

      background-image: url(https://fbcdn-sphotos-b-a.akamaihd.net/hphotos-ak-xap1/v/t1.0-9/10671399_10204523623401558_7897548015356898251_n.jpg?oh=30f0e13ab16ed607137112d15df54d6d&oe=54D2AADB&__gda__=1423214222_041ab13f50cd57d0c6e570311202114e);
      background-repeat: no-repeat;
      background-position: right;
      background-size: contain;
    }
      section#my-wife div{

        margin: auto 0;
      }

    section#xalieo{

      background-image: url(https://fbcdn-sphotos-b-a.akamaihd.net/hphotos-ak-xap1/v/t1.0-9/1932467_10202595019856671_228129343314517639_n.jpg?oh=c263fb8324a0fd07398ea8cff42f5efd&oe=54DB2336&__gda__=1424370154_6de43b8d53ddab731019b6c228634e3d), url(https://scontent-b-atl.xx.fbcdn.net/hphotos-xfa1/v/t1.0-9/486315_4777182798457_981972487_n.jpg?oh=b830f673f3a0cc902b139aaaf60a9e53&oe=54E64E39);
      background-repeat: no-repeat;
      background-position: left bottom, right bottom;
      background-size: auto 155px;
      color: #fff;
    }

    section:nth-child(even){

      background-color: lightskyblue;
    }

    section#hi-im-Anh{

      opacity: 1;
    }

    section#i-am-vietnamese{

      background-color: #fff;
    }

    section div{

      margin: auto;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;

    }

      img{

        display: block;
        border-radius: 50%;
        margin: auto;
      }


      section div img[name='brand']{

          width: 100%;
          margin-top: -35%;
          margin-bottom: 15%;

      }

      section div img[name='globe']{

          width: 70%;
          margin-bottom: 15%;
      }

      section div p{

        font-size: 26pt;
        font-weight: 500;
        display: block;
        margin: 0;

      }

    section#contact-me div p{

      font-size: 24px;
      text-align: left;
      padding: 5% 0;
    }

    i{

      width: 25px;
      height: 25px;
    }

      @media screen and (min-width: 1000px) {

          section {

            width: 80%;
            padding: 0 10%;
          }

          section div img[name='globe']{

              width: 50%;
          }

      }

      @media screen and (max-width: 370px){

          section#my-wife{

            text-shadow: 1px 1px #000;
            color: #FFF;
            background-position: center;
            background-size: cover;

          }

          section{

            height: 100%;

          }

          section:nth-child(1){

            height: 100%;
          }

          section div img[name='globe']{

              width: 100%;
          }
      }
