
html, body{

  outline: 0;
  height: 100%;
  font-family: "Helvetica Neue", 'Lato', Sans-serif;
  background-color: rgba(228, 228, 228, 0.3);
  -webkit-font-smoothing: antialiased;
  margin: 0;
  color: #6F6F6F;
  overflow: auto;
}
body{
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}
  header, section{
    width: 100%;
    margin: 0 auto;
    text-align: center;
    display: table;
    position: relative;
  }
  
  section{
    padding: 16px;
    width: calc(100% - 32px);
  }
  header{
    height: 70%;
    background-image: url(https://static.pexels.com/photos/2752/city-sunny-people-street-large.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }
  article{
    display: table;
    width: 100%;
    margin: 8px auto;
    padding: 40px 0;
    border-bottom: 1px solid #E4E4E4;
  }
  .box-shadow{
    box-shadow: 0px 0px 4px #CCC;
    -webkit-box-shadow: 0px 0px 4px #CCC;
    -moz-box-shadow: 0px 0px 4px #CCC;
  }
  .responsive{
    width: 50%;
    padding: 8px;
    display: table-cell;
    vertical-align: middle;
  }
  .fixed-top{
    position: fixed;
    top : 0;
    z-index: 1;
    background: rgba(241, 241, 241, 0.75);
    padding: 16px;
    padding-left: 0;
    width: calc(100% - 32px);
    margin: 0;
  }
  ::selection{
    background: orange;
    color: #FFF;
  }

  ::-moz-selection{
    background: orange;
    color: #FFF;
  }

  h2{
    margin: 0;
  }
  .monospace{
    font-size: medium;
    height: 30%;
    font-family: "monospace";
    background-color: rgba(237, 236, 236, 0.5);;
  }
  .bao-chau{
    background-image: url("/images/Bao-Chau.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    height: 100%;
  }
  .relativelyCenter{
    position: relative;
    top: 50%;
    margin: 0;
    padding: 0;
  }
  .absolutelyCenter{
    position: absolute;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
  }
  .verticallyCenter{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;;
  }
  .singleLine{
    height: 20px;
    line-height: 20px;
  }
  a:link, a:visited, a:active{

     text-decoration: none;
     font-size: inherit;
     font-weight: 600;
     color: inherit;
  }
  a:hover{
    color: #000;
    transition: all 50ms;
    -webkit-transition: all 50ms;
    -moz-transition: all 50ms;
  }


      section h2.heading {
        font-weight: 400;
        margin-bottom: 16px;
        color: inherit;
        font-size: initial;
        text-align: left;
      }

      header img{

        border-radius: 50%;
        margin: 64px;
        height: 150px;
     
      }

    footer{
      text-align: center;
      font-size: 14px;
      font-weight: 400;
      height: 70px;
      line-height: 70px;
      }

    
    i{

      margin-right: 15px;

    }
figure{
  margin: 0;
}

figcaption{
  font-size: initial;
  color: #FFF;
}
ul{
  margin: 0;
  padding: 0;
}
ul li{
  list-style: none;
}

.media-object img{
  margin-right: 16px;
  height: inherit;
  vertical-align: top;
}
.media-text{
    display: inline-block;
    text-align: left;
    line-height: 25px;
    margin: 0;
}

.off-canvas{
  left: -100%;
}
.media-text p{
  margin: 0px;
}
.right-side{
    position: absolute;
    top: 40%;
    right: 15%;
    line-height: 25px;
}
.border-top{
    border-top: 1px solid rgba(201, 201, 201, 0.2);
}

#all-things-design ul li{
    width: calc(100% - 64px);
    padding: 32px;
    list-style: none;
    position: relative;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 0;
    margin: auto;
    display: inline-block;
    border-bottom: 1px solid rgba(201, 201, 201, 0.2);
}
#all-things-design ul li:last-child{
  border: 0; 
}
#all-things-design ul li a{
  vertical-align: middle;
}
#all-things-design ul li a:hover ~ .left-aside, .left-aside:hover{
  left: 0;
  transition: all 10ms ease-in-out;
  -webkit-transition: all 10ms ease-in-out;
  -moz-transition: all 10ms ease-in-out;
}
article img{
  border-radius: 5px;
  width: 70%;
  height: inherit;
}
  #envue-image ~ i {
    position: absolute;
    padding-left: 10px;
  }
#contact-me ul li{
  line-height: 20px;
    height: 20px;
    margin: 32px 0;
}

.light-mask{
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient( rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.4) );
    top: 0;
}
.dark-mask{
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7) );
    top: 0;
}

#talks{
    height: 30%;
    z-index: 1;
    background-color: #EAEAEA;
}

#contact-me{
  background-color: #EAEAEA;
}

 #talks a:hover,
 #talks a:active,
 #talks a:focus,
 #contact-me a:hover,
 #contact-me a:active,
 #contact-me a:focus{
  color: #FFF;
  opacity: .7;
 }



 @media screen and (max-width: 725px){

  .responsive{
    width: initial;
    display: block;
  }

 }
 